input[type="text"] {
  padding: 0.5rem 0.75rem;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.displayUsers{
  width: 20rem;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}
ul li{
  text-align: left;
  margin-left: 2rem;
}
.error-message{
    color: red;
}

